#one{
    margin-top: 12px;
    padding-left: 25%;
}
#BeachTrip{
    padding-bottom: 9%;
}
#JoyRide{
    padding-bottom: 9%;
}
#three{
    padding-left: 12%;
}
#mexPic{
    padding-left: 5%;
    padding-bottom: 4%;
}
#four{
    padding-left: 12%;
}
#JuliansBday{
    padding-bottom: 7%;

}
#moviePic{
    width: 300px;
    padding-left: 10%;
}
