.container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.frame{
    display: flex;
    align-items: baseline;
    gap: 15px;
    flex-basis: 100%;
}
img{
    width: 25%;
}
video{
    width: 25%;
}